<nav 
class="navbar is-fixed-top"
role="navigation"
aria-labe="main navigation"
>
<h1 class="app-name">Feedback</h1>
  <div class="navbar-links">
    <ul>
      <% routes.forEach(route => { %>
        <li>
          <a href="<%= route.href %>"> <%= route.title %> </a>
        </li>
      <% }) %>
    </ul>
  </div>
</nav>